body {
    background-color: steelblue;
}


 th, td  {
    border-collapse: collapse;
    width: 40%;
    align-self: center;
}

th {
    text-align: center;
    padding: 8px;
}

td:nth-child() {
	background-color: #f2f2f2;
	
}


  th {
    width: 20%;
    background-color: #f1f1c1;
    padding: 10px;
    border: 5px solid yellow;
}

td {
    border: 10px beige;
    padding: 30px;
    background-color: beige;
}

.wrap{
    
    
    margin-left: 45%;
    position: auto;
    margin-top: -25%;
}












